<html>
  <head>
    <title>New Customer Information</title>
  </head>
  <body>
    <form id="addCustomerDataForm">
      <label for="First">First Name:</label>
      <input type="text" id="First" name="First"/><br/><br/>
      <label for="Middle">Middle Name:</label>
      <input type="text" id="Middle" name="Middle"/><br/><br/>
      <label for="Last">Last Name:</label>
      <input type="text" id="Last" name="Last"/><br/><br/>
      <label for="DOB">Date of Birth:</label>
      <input type="date" id="DOB" name="DOB"/><br/><br/>
      <label for="Gender">Gender:</label>
      <input type="text" id="Gender" name="Gender"/><br/><br/>
      <label for="Passport_Number">Passport Number:</label>
      <input type="text" id="Passport_Number" name="Passport_Number"/><br/><br/>
      <label for="Phone_Number">Phone Number:</label>
      <input type="text" id="Phone_Number" name="Phone_Number"/><br/><br/>
      <label for="Email_Address">Email Address:</label>
      <input type="email" id="Email_Address" name="Email_Address"/><br/><br/>

      <button type="submit">Sign Up</button>
    </form>
    <div id="customerTable"></div>
    <script>
      document
        .getElementById("addCustomerDataForm")
        .addEventListener("submit", function (event) {
          //alert("Button pressed");
          // Prevent the form from submitting normally
          event.preventDefault();

          // Get the values from the form
          const first = document.querySelector("#First").value;
          const middle = document.querySelector("#Middle").value;
          const last = document.querySelector("#Last").value;
          const dob = document.querySelector("#DOB").value;
          const gender = document.querySelector("#Gender").value;
          const passport_number =
            document.querySelector("#Passport_Number").value;
          const phone_number = document.querySelector("#Phone_Number").value;
          const email_address = document.querySelector("#Email_Address").value;

          // Create a new XMLHttpRequest object
          const xhr = new XMLHttpRequest();

          // Set the URL and method for the request
          xhr.open("POST", "/add_customer_data", true);

          // Set the content type for the request
          xhr.setRequestHeader(
            "Content-Type",
            "application/x-www-form-urlencoded"
          );

          // Define the callback function for the request
          xhr.onreadystatechange = function () {
            if (xhr.readyState === 4 && xhr.status === 200) {
              alert("Customer information added successfully");
              window.location.href = "/";
            }
          };

          // Create a data string to send with the request
          const data =
            "First=" +
            encodeURIComponent(first) +
            "&Middle=" +
            encodeURIComponent(middle) +
            "&Last=" +
            encodeURIComponent(last) +
            "&DOB=" +
            encodeURIComponent(dob) +
            "&Gender=" +
            encodeURIComponent(gender) +
            "&Passport_Number=" +
            encodeURIComponent(passport_number) +
            "&Phone_Number=" +
            encodeURIComponent(phone_number) +
            "&Email_Address=" +
            encodeURIComponent(email_address);

          //alert("Data to be sent in encoded form: " + data);
          // Send the request with the data string
          xhr.send(data);
        });

      // Create a new XMLHttpRequest object
      const xhr2 = new XMLHttpRequest();

      // Set the URL and method for the request
      xhr2.open("GET", "/customer_data", true);

      // Define the callback function for the request
      xhr2.onreadystatechange = function () {
        if (xhr2.readyState === 4 && xhr2.status === 200) {
          const customers = JSON.parse(xhr2.responseText);
          let tableHtml = "<table>";
          tableHtml +=
            "<tr><th>ID</th><th>First Name</th><th>Last Name</th><th>Date of Birth</th><th>Gender</th><th>Passport Number</th><th>Phone Number</th><th>Email Address</th></tr>";
          for (let i = 0; i < customers.length; i++) {
            tableHtml += "<tr>";
            tableHtml += "<td>" + customers[i].ID + "</td>"; // Use ID field instead of index
            if (customers[i].hasOwnProperty("First")) {
              tableHtml += "<td>" + customers[i].First + "</td>";
            } else {
              tableHtml += "<td></td>";
            }
            if (customers[i].hasOwnProperty("Last")) {
              tableHtml += "<td>" + customers[i].Last + "</td>";
            } else {
              tableHtml += "<td></td>";
            }
            if (customers[i].hasOwnProperty("DOB")) {
              tableHtml += "<td>" + customers[i].DOB + "</td>";
            } else {
              tableHtml += "<td></td>";
            }
            if (customers[i].hasOwnProperty("Gender")) {
              tableHtml += "<td>" + customers[i].Gender + "</td>";
            } else {
              tableHtml += "<td></td>";
            }
            if (customers[i].hasOwnProperty("Passport_Number")) {
              tableHtml += "<td>" + customers[i].Passport_Number + "</td>";
            } else {
              tableHtml += "<td></td>";
            }
            if (customers[i].hasOwnProperty("Phone_Number")) {
              tableHtml += "<td>" + customers[i].Phone_Number + "</td>";
            } else {
              tableHtml += "<td></td>";
            }
            if (customers[i].hasOwnProperty("Email_Address")) {
              tableHtml += "<td>" + customers[i].Email_Address + "</td>";
            } else {
              tableHtml += "<td></td>";
            }
            tableHtml +=
              "<td><button id='deleteCustomer_" +
              i +
              "' class='delete-button'>Delete</button></td>";
            tableHtml += "</tr>";
          }
          tableHtml += "</table>";
          document.getElementById("customerTable").innerHTML = tableHtml;
        }
      };

      // Send the request
      xhr2.send();
      document
        .getElementById("customerTable")
        .addEventListener("click", function (e) {
          if (e.target && e.target.className == "delete-button") {
            const row = e.target.parentNode.parentNode;
            const customerId = row.querySelector("td:first-child").textContent;

            // create a new XMLHttpRequest object
            const xhr3 = new XMLHttpRequest();

            // set the URL and method for the request
            xhr3.open("POST", "/delete_customer", true);

            // set the content type for the request
            xhr3.setRequestHeader(
              "Content-Type",
              "application/x-www-form-urlencoded"
            );

            // define the callback function for the request
            xhr3.onreadystatechange = function () {
              if (xhr3.readyState === 4 && xhr3.status === 200) {
                alert("Customer information deleted successfully");
                window.location.href = "/";
              }
            };

            // Create a data string to send with the request
            const data = "customerId=" + encodeURIComponent(customerId);
            xhr3.send(data);
          }
        });
    </script>
  </body>
</html>
