<!DOCTYPE html>
<html>
  <head>
    <title>Top Gun</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body
    style="
      background-image: url('/templates/airplane.jpg');
    "
  >
    <div class="container">
      <h1>Top Gun</h1>
      <p>Managing your airline needs</p>
      <div id="dropdowns">
        <div class="dropdown">
          <select id="tables-dropdown">
            {% for table in tables %}
            <option value="{{ table }}">{{ table }}</option>
            {% endfor %}
          </select>
        </div>
        <button id="choose-btn">Choose</button>
      </div>
    </div>
    <script>
      const chooseBtn = document.getElementById("choose-btn");
      const tablesDropdown = document.getElementById("tables-dropdown");

      chooseBtn.addEventListener("click", function () {
        const selectedTable = tablesDropdown.value;
        window.location.href = "/employee";
      });
    </script>
  </body>
</html>
